@model WebApplication1.Models.Storage

@{
    ViewData["Title"] = "Изменение";
}

<h2>Изменение</h2>

<h4>Складские помещения</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoragesID" />
            <div class="form-group">
                <label asp-for="NameOfStorage" class="control-label"></label>
                <input asp-for="NameOfStorage" class="form-control" />
                <span asp-validation-for="NameOfStorage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryNumber" class="control-label"></label>
                <input asp-for="InventoryNumber" class="form-control" />
                <span asp-validation-for="InventoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignatedEmployee" class="control-label"></label>
                <input asp-for="DesignatedEmployee" class="form-control" />
                <span asp-validation-for="DesignatedEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareOfStorage" class="control-label"></label>
                <input asp-for="SquareOfStorage" class="form-control" />
                <span asp-validation-for="SquareOfStorage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tonnage" class="control-label"></label>
                <input asp-for="Tonnage" class="form-control" />
                <span asp-validation-for="Tonnage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillingPercentage" class="control-label"></label>
                <input asp-for="FillingPercentage" class="form-control" />
                <span asp-validation-for="FillingPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfStoragesID" class="control-label"></label>
                <select asp-for="TypeOfStoragesID" class="form-control" asp-items="ViewBag.TypeOfStoragesID"></select>
                <span asp-validation-for="TypeOfStoragesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
