<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Пункт приема вторсырья</title>
    <style>
        p {
            font-size: 120%;
            font-family: monospace;
            color: #000000;
        }
    </style>
</head>
<body>
    <h1>Пункт приема вторсырья</h1>
    <table border="0" width="100%">
        <tr>
            <td width="30%">
                <p align="center">
                    Описание предметной области:
                </p>
            </td>

            <td width="70%">
                <br /><br />
                <ul>
                    <li>
                        Виды вторичного сырья (наименование, цена за килограмм, описание, условие
                        приема (тара, упаковка), условия хранения).
                    </li>
                    <li>
                        Типы складских помещений (наименование типа помещения, виды вторичного
                        сырья, которые могут храниться в данном помещении, средняя температура,
                        влажность, требования пожарной безопасности, наличие спецоборудования).
                    </li>
                    <li>
                        Складские помещения (наименование помещения, инвентарный номер,
                        площадь, вместимость в тоннах, процент заполнения, ответственный
                        сотрудник, степень изношенности помещения, дата последней проверки
                        пожарной инспекцией, дополнительные отметки).
                    </li>
                    <li>
                        Принятое сырье (вид вторичного сырья, количество в килограммах, цена, дата
                        и время приема, сотрудник, осуществлявший прием, помещение, в котором
                        хранится сырье).

                    </li>
                </ul>
            </td>
        </tr>
        
        <tr>
            <td width="30%">
                <p align="center">
                    Дополнительные
                    требования к
                    отображению данных:
                </p>
            </td>

            <td width="70%">
                <br /><br />
                <ul>

                    <li>
                        Отдел кадров (все данные о сотрудниках, отображение сведений о
                        сотрудниках с определенными: ФИО, стажем работы).
                    </li>
                    <li>
                        Типы складских помещений (наименование типа помещения, виды вторичного
                        сырья, которые могут храниться в данном помещении, средняя температура,
                        влажность, требования пожарной безопасности, наличие спецоборудования).
                    </li>
                    <li>
                        Сведения о складских помещениях (вывод полной информации о складах,
                        сведения о помещениях для хранения определенного вида сырья, о
                        помещениях, прошедших проверку пожарной инспекцией более 1 года назад,
                        помещениях с изношенностью выше указанной).
                    </li>
                    <li>
                        Информация о принятом сырье (информация о принятии сырья определенным
                        сотрудником на определенную дату, общая масса и стоимость каждого вида
                        сырья, принятого за обозначенный период времени, общая стоимость и масса
                        сырья, находящегося на складах).

                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>