@model WebApplication1.Models.HumanResourceDepartment

@{
    ViewData["Title"] = "Изменение";
}

<h2>Изменение</h2>

<h4>Сотрудники</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HumanResourcesDepartmentID" />
            <div class="form-group">
                <label asp-for="Initial" class="control-label"></label>
                <input asp-for="Initial" class="form-control" />
                <span asp-validation-for="Initial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthOfService" class="control-label"></label>
                <input asp-for="LengthOfService" class="form-control" />
                <span asp-validation-for="LengthOfService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptRawMaterials" class="control-label"></label>
                <input asp-for="AcceptRawMaterials" class="form-control" />
                <span asp-validation-for="AcceptRawMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
