@model WebApplication1.Models.RawMaterial

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактировать</h2>

<h4>Виды вторичного сырья</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RawMaterialsID" />
            <div class="form-group">
                <label asp-for="RawMaterialsName" class="control-label"></label>
                <input asp-for="RawMaterialsName" class="form-control" />
                <span asp-validation-for="RawMaterialsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfRawMaterials" class="control-label"></label>
                <input asp-for="DescriptionOfRawMaterials" class="form-control" />
                <span asp-validation-for="DescriptionOfRawMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceptionConditions" class="control-label"></label>
                <input asp-for="ReceptionConditions" class="form-control" />
                <span asp-validation-for="ReceptionConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageConditions" class="control-label"></label>
                <input asp-for="StorageConditions" class="form-control" />
                <span asp-validation-for="StorageConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostKG" class="control-label"></label>
                <input asp-for="CostKG" class="form-control" />
                <span asp-validation-for="CostKG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
